body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
    font-family: Arial, sans-serif;
    background-color: #ebf8fc;
}

.tableee {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #dcf4fc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 10px 0;
}

table table {
    border: 1px solid #ddd;
}

td {
    padding: 15px;
    text-align: center;
}
